//**
// Main Layout Styles
//**



/**
 * Header
 */
header {
  padding: 0;
  background: linear-gradient(to bottom, $blue-dark, darken($blue-dark,40%),black);
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  border-bottom: 1px solid $blue-dark;
}
.title {
  margin: 0;
  padding: 0;
  line-height: 4em;
  height: 4em;
}
.title img {
  width: 13%;
  height: auto;
  display: inline-block;
  margin-left: 20px;
}
.title h1 {
  font-size: 1.5em;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 0.5em;
  vertical-align: middle;
  background: -webkit-linear-gradient($gold-dark, $gold-mid, $gold-pale);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.title sup {
  font-family: $serif;
  font-size: 0.7em;
  font-weight: normal;
  text-transform: uppercase;
  color: $gold-dark;
  vertical-align: super;
  margin-left: 1.5em;
}
.title sup a {
  color: $gold-dark;
  text-decoration: none;
  transition: all 0.25s linear;
}
.title sup a:hover {
  color: $gold-mid;
}
.title h1:before  {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.2em black;
  left: 0;
  z-index: -1;
}
.title h1:after {
  content: attr(title);
  position: absolute;
  -webkit-text-stroke: 0.2em black;
  left: 0;
  z-index: -2;
}
/**
 * Instructions
 */

@keyframes expand {
  0%      { opacity: 1; min-height: 0; width: 0;}
  10%     { width: 100%; height: 0; min-height: 0; }
  50%     { min-height: 208px; width: 100%; opacity: 1; }
  100%    { min-height: 208px; width: 100%; opacity: 1; }
}
@keyframes compress {
  0%      { min-height: 208px; width: 100%; opacity: 1; }
  25%     { width: 100%; opacity: 1; }
  50%     { width: 100%; min-height: 0;}
  75%     { width: 100%; opacity: 1; height: 0; }
  99%    { opacity: 1; width: 0; min-height: 0; }
  100%    { opacity: 0; width: 0; min-height: 0; }

}
@keyframes flicker-in {
  0%      { top: 0; }
  5%      { top: 0; opacity: 1; }
  7%      { top: 0; opacity: 0; }
  9%      { top: 0; opacity: 1; }
  13%     { top: 0; opacity: 0; }
  30%     { top: 0; opacity: 1; }
  100%    { top: 0; opacity: 1; }
}
@keyframes flicker-out {
  0%      { top: 0; opacity: 0; }
  5%      { top: 0; opacity: 1; }
  7%      { top: 0; opacity: 0; }
  9%      { top: 0; opacity: 1; }
  13%     { top: 0; opacity: 0; }
  30%     { top: -258px; opacity: 0; }
  100%    { top: -258px; opacity: 0; }
}
.instructions {
  transition: all 0.5s linear;
  border: 1px solid $teal-light;
  width: 0;
  height: 0;
  opacity: 0;
  position: relative;
  display: block;
  background: rgba(0,0,0,0.4);
}
.instructions p {
  opacity: 0;
  position: relative;
  top: -258px;
  margin-bottom: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}
.instructions.cloaked {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.instructions.show {
  animation-name: expand;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  border-color: $forest;
  box-shadow: 0 1px 50px black;
  margin-top: -1px;
}

.instructions.show p {
  animation-name: flicker-in;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.75s;
}
.instructions.show p:first-child {
  margin-top: 1.8em;
}
.instructions.hide{
  animation-name: compress;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0;
}
.instructions.hide p {
    animation-name: flicker-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0;
}
.instructions.hide p:first-child {
  margin-top: 1.8em;
};

/**
 * Calculator main
 */
.smr {
  position: relative;
  overlay: hidden;
  z-index: 0;
  transition: all 0.5s ease;

}
.calculator {
   transition: all 1s linear;
   margin-top: 2em;
}
/**
 * Actions
 */
.actions {
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  right: -16px;
  line-height: 100%;
  height: 100%;
  top: 0.5em;
}
.actions ul {
  display: table;
  float: right;
  margin-bottom: 1em;
}
.actions li {
  display: table-cell;
  box-sizing: border-box;
  margin-left: 1em;
  margin-bottom: 1em;
  float: right;
}
.stats {
  min-width: 261.609px;
  padding: 1em;
}
.champion-portrait {
  width: 72px;
  height: 72px;
  float: left;
}
.champion-portrait img {
  border-radius: 50%;
  border: 2px solid $gold-mid;
}
.champion-stats {
  margin-left: 12px;
  float: left;
  min-width: 60%;
  margin-bottom: 1em;
}
.champion-stats h3 {
  display: flex;
  font-family: $sans-serif;
  font-size: 1em;
  margin-bottom: 0.6em;
}
.champion-masteries {
  display: block;
  float: left;
  width: 1;
  height: 2em;
}

// Sprite for Mastery Count
/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */

$icon-mastery-height: 40px;
$icon-mastery-width: 35px;

.icon-mastery {
	background-image: url("/img/sprites.png");
  width: $icon-mastery-width;
  height: $icon-mastery-height;
  background-repeat: no-repeat;
}
.icon-mastery-resolve {
	width: $icon-mastery-width;
	height: $icon-mastery-height;
	background-position: -68px 0;
}
.icon-mastery-ferocity {
	width: $icon-mastery-width;
	height: $icon-mastery-height;
	background-position: 1px 0;
}
.icon-mastery-cunning {
	width: $icon-mastery-width;
	height: $icon-mastery-height;
	background-position: -34px 5px;
}

.mastery-icons {
  padding: 0;
  margin: 0;
}
.mastery-icons li {
  float: left;
  min-width: 33%;
}
.mastery-icons li .icon-wrap {
  list-style: none;
  display: table;
}
.mastery-icons li .icon-wrap>span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.mastery-icons li .icon-wrap>[class^="count-"]{
  position: relative;
  left: 50%;
}
.count-ferocity,
.count-cunning,
.count-resolve {

}

/**
 * COMBAT STATS
 */

 .combat-stats {
  margin-top: 2em;
 }
 .combat-stats h4 {
   background: -webkit-linear-gradient($forest, $teal-dark, $teal-light, $teal-dark, $forest);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

   font-family: $serif;
   font-size: 1em;
   font-weight: normal;
   text-transform: none;
   text-align: center;
   margin-bottom: 0.5em;

   text-shadow: 1px 2px 2px black;
 }
 .combat-stats ul {
   color: $gold-dark;
   font-size: 0.9em;
   padding-left: 1em;
   margin-top: 0;
   margin-bottom: 1em;
}
.combat-stats hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(12, 33, 36, 1), rgba(106, 193, 202, 0.8), rgba(12, 33, 36, 1), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 300px;
  height: 1px;
  width: 1;
  display: block;
  border: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.combat-stats dl {
  display: table;
}
.combat-stats dt {
  display: table-cell;
  float: left;
  clear: left;
}
.combat-stats dd {
  display: table-cell;
  float: right;
  color: $gold-pale;
}

/**
 *  Navigation Tabs: Masteries and Runes
 */
.tabs {
  display: table;
  padding: 0;
  margin: 0;
  width: 100%;
}
.tab {
  display: table-cell;
  float: left;
  border-right: 1px solid $teal-dark;
  border-top: 1px solid $teal-dark;
  position: relative;
  bottom: -1px;
  background-color: rgba(12, 33, 36, 0.3);
}
.tab:first-child {
  border-left: 1px solid $teal-dark;
}
.tab.active {
  color: $teal-light;
  background: $blue-dim;
  position: relative;
  z-index: 9999999;
  padding-top: 1px;
  border-bottom: 1px solid $blue-dim;
  bottom: -1px;
}
.tab a {
  display: table-cell;
  text-decoration: none;
  color: $teal-dark;
}
.tab.active a {
  color: $gold-mid;
}

.tab-nautical {
  padding: 0.75em;
  margin: 0;
}
.masteries-runes    {
  display: flex;
  flex-direction: column;
}
.masteries-runes > nav {
  margin-left: 0;
}
.masteries {
  background: linear-gradient($blue-dim, lighten($blue-dim,3%));
  padding: 0;
  padding-left: 17px;
  padding-top: 1em;
  border: 1px solid $teal-dark;
  height: 100%;
  flex: 1;
}
.masteries .tree  {
  padding: 1em;
  margin-left: 0;
  margin-top: 1.66667%;
  max-width: 32.33333%;
  flex-basis: 32.33333%;
  box-sizing: border-box;
  background-size: contain;
  height: 100%;
  border-top: 1px solid $teal-dark;
  border-bottom: 1px solid $teal-dark;
  border-right: 1px solid $teal-dark;
  box-shadow: inset 0 0 30px black, 0 0 15px black, ;
}
.masteries .tree .tree-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6em;
  color: $gold-dark;
  text-shadow: 0 5px 3px black, 0 -1px 0 $gold-mid;
  margin-bottom: 0.5em;

}
.masteries .tree:first-child {
  border-left: 1px solid $teal-dark;
  margin-left: 1.66667%;
}
.masteries .ferocity {
  background-image: url("/img/bg-keystone-ferocity.png")
}
.masteries .cunning {
  background-image: url("/img/bg-keystone-cunning.png")
}
.masteries .resolve {
  background-image: url("/img/bg-keystone-resolve.png")
}
.masteries>[class^="tier"] {
  display: table;
}

[class^="micon"] {
   overflow: auto;
   left: 0;
}
[class^="micon"]::after {
  content: "";
  -webkit-filter: grayscale(100%) brightness(75%);
   -moz-filter: grayscale(100%) brightness(75%);
   -o-filter: grayscale(100%) brightness(75%);
   -ms-filter: grayscale(100%) brightness(75%);
   filter: grayscale(100%) brightness(75%);
   z-index: -1999999;

   height: 76px;
   width: 76px;
   display: block;
   background: url("/img/micon.png");
   background-position: center center;
   background-size: 57px 57px;
   background-repeat: no-repeat;
   transition: 0.25s linear;
   box-sizing: border-box;
   padding: 9px;

   display: block;

}
[class^="micon"][class~="unlocked"]::after {
  -webkit-filter: grayscale(70%) brightness(100%);
   -moz-filter: grayscale(70%) brightness(100%);
   -o-filter: grayscale(70%) brightness(100%);
   -ms-filter: grayscale(70%) brightness(100%);
   filter: grayscale(70%) brightness(100%);
   z-index: -1999999;

}
[class^="micon"][class~="on"]::after {
  -webkit-filter: grayscale(0%) brightness(100%);
   -moz-filter: grayscale(0%) brightness(100%);
   -o-filter: grayscale(0%) brightness(100%);
   -ms-filter: grayscale(0%) brightness(100%);
   filter: grayscale(0%) brightness(100%);
   z-index: -1999999;

}

[class^="micon"]:hover {
}
.top-to-bottom {
    border-width: 2px;
    border-style: solid;
    border-top: 2px solid $gold-dark;
    border-bottom: 2px solid $gold-pale;
    -webkit-border-image:
      -webkit-gradient(linear, 0 0, 0 1, from($gold-dark), to($gold-pale)) 1 1;
    -webkit-border-image:
      -webkit-linear-gradient($gold-dark, $gold-pale) 1 1;
    -moz-border-image:
      -moz-linear-gradient($gold-dark, $gold-pale) 1 1;
    -o-border-image:
      -o-linear-gradient($gold-dark, $gold-pale) 1 1;
    border-image:
      linear-gradient(to bottom, $gold-dark, $gold-pale) 1 1;
}
[class^="tier"] {
  position: relative;
}
.chosen {
  border: 2px solid red;
}

.mcounter {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-family: $serif;
  font-size: 0.75em;
  color: $blue-electric;
  border: 2px solid $blue-dark;
  padding: 0 7px;
  line-height: 15px;
  height: 18px;
  vertical-align: middle;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  background: radial-gradient(farthest-side at 50% 10%, $blue-dark, #000);
}
.mcounter:after {
    content: '';
    border: 1px solid $blue-dim;
    z-index: -2;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    width: auto;
    height: auto;
    position: absolute;
}
.on {
  .mcounter {
    color: $gold-bright;
    border-color: $gold-green;
    background: radial-gradient(farthest-side at 50% 10%, $gold-dark, #000);

  }
  .mcounter:after {
    border-color: $gold-bright;
  }
}



// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
