//**
// Navigation
//**

nav {
  a {
    display: block;
  }
}
/**
 * Top Navigation
 */
.nav__buttons {
  right: -40px;
  position: relative;
  margin: 0;
}
.nav__buttons ul {
  display: inline;
  padding: 0;

}
.nav__buttons__item {
  display: table-cell;
  float: right;
  height: 4em;
  line-height:4em;
  border-left: 2px solid #000;
  border-right: 2px solid #111;
  margin-right: -10px;
  transition: all 0.25s linear;
}

.nav__buttons__item a {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0 1em;
  position: relative;
  transition: all 0.2s linear;
}
.nav__buttons__item a  {
  transition: all 0.2s linear;
  color: $gold-dark;
}
.nav__buttons__item a:hover {
  color: $gold-mid;
  background: linear-gradient(to bottom, lighten($blue-dark, 5%), darken($blue-dark,20%),black);
  border-right-color: #1a1a1a;
}
.nav__buttons__item a.active {
  color: $gold-mid;
  background: linear-gradient(to bottom, #0C2830, black);
  border-right-color: #1a1a1a;
  box-shadow: inset 0 -5px 25px darken($blue-dark,25%);
}
