//**
// Project Settings
//**

// Font bases
$bfs: 16px;
$serif: "Quattrocento", Georgia, Times, "Times New Roman", serif;
$sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Consistent settings
$br: 5px; // Border-radius
$btn-br: 3px; // Button border-radius
$padding: $bfs; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.




// Responsive breakpoints
$small-break: 480px;
$big-break: 780px;





// Better default colors
// Cool
$aqua:  #7fdbff;
$blue:  #0074d9;
$navy:  #001f3f;
$teal:  #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime:  #01ff70;
// Warm
$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #ff4136;
$fuchsia: #f012be;
$purple:  #b10dc9;
$maroon:  #85144b;
// Gray Scale
$white:  #fff;
$silver: #ddd;
$grey:   #aaa;
$black:  #111;





// Project color variables
$primary-color: #1271db;
$secondary-color: #233e5b;
$tertiary-color: #aaa;

$gold-pale: #f4ede0;
$gold-mid: #c3a675;
$gold-dark: #96773f;
$gold-bright: #efef00;
$gold-green: #615b00;
$teal-light: #6ac1ca;
$teal-dark: #1a4b4d;
$forest: #0c2124;
$forest-dark: #051110;
$orange: #db8301;
$orange-light: lighten($orange, 10%);
$red: #871e0a;
$blue-electric: #0098fe;
$blue-dim: #03090a;
$blue-dark: #0C2830; // rgb(12, 40, 48)



$danger-color: $red; // Bad color for errors, validation etc.
$success-color: $green; // Good color for success etc.
$info-color: $blue; // Good color for success etc.
$warning-color: $orange; // Good color for success etc.
$subtle-color: $grey; // Subtle color for subtle text
